# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
/resumes/

# Media
+ !static/images/*.png
+ !static/images/*.jpg
*.jpeg
*.gif
*.svg

# Environments
venv/
.env
.env.*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Migration backups
*.bak
*.swp
